<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Our Contact</h1>
    <address>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi a ex cum. Optio architecto est atque, maxime nesciunt recusandae unde sapiente repellendus doloribus suscipit inventore aut doloremque minima temporibus obcaecati?</address>
</body>
</html>